<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 form">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <!-- Login -->
          <form ng-show="form.login" class="box active" id="box-login" ng-controller="LoginCtrl as user" ng-submit="user.login()" novalidate>
          <div class="loginmodal-container" id="login-form">
            <h1>Login to Your Account</h1><br>
            <input type="text" name="user" placeholder="Email" ng-model="user.credentials.email">
            <input type="password" name="pass" placeholder="Password" ng-model="user.credentials.password">
            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
            <div class="login-help">
              <a href="#" ng-click="registerForm()">Register</a> - <a href="#" ng-click="forgetPasswordForm()">Forgot Password</a>
            </div>
          </div>  
        </form>

        <!-- Register -->
        <form ng-show="form.register" class="box active" id="box-register" name="registerForm" ng-controller="RegisterCtrl as user" ng-submit="user.register()" novalidate>
          <div class="loginmodal-container" id="sign-up-form">
            <h1>Register</h1><br>
            <div class="form-group" ng-class="errorClass('name')">
              <input type="text" class="form-control input-underline" placeholder="Full Name" name="name" ng-model="registers.name" server-error />
              <span class="help-block pull-left" ng-show="registerForm.name.$error.server">Full {{errors.name}}</span>
            </div>
            <div class="form-group" ng-class="errorClass('email')">
              <input style="height: 44px;" type="email" class="form-control input-underline" placeholder="Email" name="email" ng-model="registers.email" server-error />
              <span class="help-block pull-left" ng-show="registerForm.email.$error.server">{{errors.email}}</span>
            </div>
            <div class="form-group" ng-class="errorClass('password')">
              <input type="password" class="form-control input-underline" placeholder="Password" name="password" ng-model="registers.password" server-error />
              <span class="help-block pull-left" ng-show="registerForm.password.$error.server">{{errors.password}}</span>
            </div>
            <div class="form-group" ng-class="errorClass('password_confirmation')">
              <input type="password" class="form-control input-underline" placeholder="Confirm Password" name="password_confirmation" ng-model="registers.password_confirmation" server-error />
              <span class="help-block pull-left" ng-show="registerForm.password_confirmation.$error.server">{{errors.password_confirmation}}</span>
            </div>
            <input type="submit" class="login loginmodal-submit" value="Sign up">
            <div class="login-help">
              <a href="#" ng-click="loginForm()">Already have account?</a> - <a href="#" ng-click="forgetPasswordForm()">Forgot Password</a>
            </div>
          </div>
        </form>

        <!-- Forgot Password -->
        <form ng-show="form.forget_password" name="forgetPassForm" class="box active" id="box-reset" ng-controller="ForgetPasswordCtrl as user" ng-submit="user.forgetPassword()" novalidate>
          <div class="loginmodal-container" id="forgot-password-form">
            <h1>Forgot Password</h1><br>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" name="email" ng-model="forgetpassword.email">
            </div>
            <input type="submit" name="login" class="login loginmodal-submit" value="Reset Password">
            <div class="login-help">
              <a href="#" ng-click="loginForm()">Already have an account?</a> - <a href="#" ng-click="registerForm()">Sign Up</a>
            </div>
          </div>
        </form>
      </div><!--/.col-md-12-->
    </div>
  </div>
</div>
</div>
